@font-face {
  font-family: "OpenSansHebrew";
  src: local("OpenSansHebrew"),
    url("../assets/fonts/OpenSansHebrew-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansHebrewBold";
  src: local("OpenSansHebrewBold"),
    url("../assets/fonts/OpenSansHebrew-Bold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansHebrewLight";
  src: local("OpenSansHebrewLight"),
    url("../assets/fonts/OpenSansHebrew-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansHebrewItalic";
  src: local("OpenSansHebrewItalic"),
    url("../assets/fonts/OpenSansHebrew-Italic.ttf") format("truetype");
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

#root {
  min-height:100vh;
  position:relative;
}

body {
  font-size: 2.1rem;
  font-family: "OpenSansHebrew";
  color: rgba(0, 0, 0, 0.8);
}

h1 {
  line-height: 1.2;
  font-size: 4.8rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 3.8rem;
  }
}

h2 {
  font-size: 2.2rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

p {
  line-height: 3.2rem;
  font-size: 2.1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 160, 160);
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}